<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto de Soporte</title>
</head>
<body>
    <h1>Contacto de Soporte!</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <label for="nombreCompleto">Nombre Completo:</label>
        <input type="text" id="nombreCompleto" formControlName="nombreCompleto" required><br><br>

        <label for="nombreEmpresa">Nombre de la Empresa:</label>
        <input type="text" id="nombreEmpresa" formControlName="nombreEmpresa"><br><br>

        <label for="correoElectronico">Correo Electrónico:</label>
        <input type="email" id="correoElectronico" formControlName="correoElectronico" required><br><br>

        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" formControlName="telefono"><br><br>

        <label for="categoria">Categoría:</label>
        <select id="categoria" formControlName="categoria">
            <option value="Facturacion">Facturacion</option>
            <option value="Soporte Tecnico">Soporte Tecnico</option>
            <option value="Ventas">Ventas</option>
            <option value="Informacion General">Informacion General</option>
        </select><br><br>

        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" formControlName="mensaje" rows="4" cols="50" required></textarea><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
